# Enable mod_rewrite
RewriteEngine On

# Check if the requested URL is not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite the request to index.php
RewriteRule ^(.*)$ index.php [L]
